@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loadingBar {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(300%);
  }
}

html, body {
  width: 100%;
  overflow-x: hidden;
}
